.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-dark);
}

.toggle {
  background-color: transparent;
  cursor: pointer;
  transition: all 150ms ease-out;
  font-size: 1.2rem;
  color: var(--color-text);
}

.toggle:hover {
  color: var(--color-accent);
  transform: scale(1.2);
}

.filters {
  display: flex;
}

.filter {
  font-size: 1.4rem;
  margin: 0.3rem;
  font-weight: bold;
  color: var(--color-accent);
  opacity: 0.8;
  background-color: transparent;
  text-transform: capitalize;
}
.filter:hover,
.filter.selected {
  opacity: 1;
}

.filter.selected::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 2px solid var(--color-grey);
}
